<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <div class="flex-container">
    <div class="container">
        <h1>SIGN UP</h1>
        <h3>(Please?)</h3>
        <p class="lead"><p>Enter your email and join <strong><%=users%></strong> 
        other <strike>fools</strike> entrepreneurs on our mailing list!</p>
        <form method="POST" action="/register">
            <input type="text" name = "email" class="form" placeholder="Your Email Here">
            <button>Join!</button>
        </form>
    </div>
</div>
    
</body>
